Questão 1

Você está analisando uma base de dados com informações financeiras de diversas lojas de uma empresa. Inicialmente, você deseja obter informações básicas sobre a base.

In [1]:
#Lendo a base de dados
import pandas as pd 

df = pd.read_csv("dados_lojas.csv", index_col=0, sep = ',')
df

,cod_loja,faturamento,baixa_estoque,cidade,uf,num_fun,estoque,cod_ger_reg,custo_manut,custo_folha
0,LJ-001,315268.59,10936.26,Porto Alegre,DF,13.0,784947.02,GR-011,21962.89,21763.93
1,LJ-002,761803.59,39115.56,São Paulo,BA,13.0,725106.95,GR-013,10103.51,89794.38
2,LJ-003,592295.30,65864.29,Rio de Janeiro,BA,14.0,526165.31,GR-001,8175.83,50480.62
3,LJ-004,488960.33,55687.26,São Paulo,SP,30.0,562210.79,GR-006,16689.83,27516.03
4,LJ-005,145914.45,52427.67,Curitiba,BA,45.0,64986.75,GR-009,20196.15,43098.34
...,...,...,...,...,...,...,...,...,...,...
257,LJ-258,564423.09,11706.06,Belo Horizonte,DF,21.0,385063.91,GR-013,15380.49,24301.74
258,LJ-259,466797.41,44762.74,Brasília,BA,27.0,552353.89,GR-009,7656.34,64920.26
259,LJ-260,100311.78,28876.37,Curitiba,PR,41.0,331547.44,GR-013,15597.40,22181.87
260,LJ-261,501630.60,72758.62,Brasília,BA,20.0,780392.39,GR-009,13176.04,77623.76
261,LJ-262,792291.73,63237.86,Brasília,RS,10.0,584462.91,GR-011,10652.08,69125.96

a) Obtenha a quantidade de colunas e linhas.

In [2]:
df.shape

(262, 10)

b) Verifique as informações gerais do dataframe.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 262 entries, 0 to 261
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cod_loja       261 non-null    object
 1   faturamento    260 non-null    float64
 2   baixa_estoque  262 non-null    float64
 3   cidade         262 non-null    object
 4   uf             261 non-null    object
 5   num_fun        261 non-null    float64
 6   estoque        260 non-null    float64
 7   cod_ger_reg    262 non-null    object
 8   custo_manut    260 non-null    float64
 9   custo_folha    261 non-null    float64
dtypes: float64(6), object(4)
memory usage: 22.5+ KB

c) Verifique as estatísticas descritivas do dataframe

In [4]:
df.describe()

,faturamento,baixa_estoque,num_fun,estoque,custo_manut,custo_folha
count,260.000000,262.000000,261.000000,260.000000,260.000000,261.000000
mean,406061.105692,38838.039389,27.670498,413677.074654,12304.546538,55159.140575
std,230319.421839,22539.882467,12.808901,236306.770283,7106.659181,25637.802333
min,28922.730000,1307.410000,5.000000,25184.080000,143.970000,10289.640000
25%,207230.675000,21374.250000,16.000000,203591.247500,5969.275000,32920.360000
50%,416859.265000,40608.250000,28.000000,425806.510000,12421.630000,56554.220000
75%,605286.162500,58383.780000,38.000000,622869.035000,17943.225000,77326.590000
max,792291.730000,74475.880000,49.000000,799498.960000,24917.420000,99851.280000

d) Verifique se o dataframe possui valores nulos. Delete todos os valores nulos (Use inplace = True).

In [5]:
df.isnull().sum()

cod_loja         1
faturamento      2
baixa_estoque    0
cidade           0
uf               1
num_fun          1
estoque          2
cod_ger_reg      0
custo_manut      2
custo_folha      1
dtype: int64

In [6]:
df.dropna(inplace = True)

In [7]:
df.isnull().sum()

cod_loja         0
faturamento      0
baixa_estoque    0
cidade           0
uf               0
num_fun          0
estoque          0
cod_ger_reg      0
custo_manut      0
custo_folha      0
dtype: int64

Questão 2

Agora que realizou a exploração inicial dos dados, queremos realizar algumas modificações.

a) Altere o nome da coluna "num_fun" para "funcionarios" e "custo_folha" para "custo_funcionarios"

In [8]:
df = df.rename(columns = {"num_fun": "funcionarios", "custo_folha": "custo_funcionarios"})

In [9]:
df.head()

,cod_loja,faturamento,baixa_estoque,cidade,uf,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios
0,LJ-001,315268.59,10936.26,Porto Alegre,DF,13.0,784947.02,GR-011,21962.89,21763.93
1,LJ-002,761803.59,39115.56,São Paulo,BA,13.0,725106.95,GR-013,10103.51,89794.38
2,LJ-003,592295.30,65864.29,Rio de Janeiro,BA,14.0,526165.31,GR-001,8175.83,50480.62
3,LJ-004,488960.33,55687.26,São Paulo,SP,30.0,562210.79,GR-006,16689.83,27516.03
4,LJ-005,145914.45,52427.67,Curitiba,BA,45.0,64986.75,GR-009,20196.15,43098.34

b) Remova a coluna "uf"

In [10]:
df = df.drop(columns=["uf"])

In [11]:
df.head()

,cod_loja,faturamento,baixa_estoque,cidade,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios
0,LJ-001,315268.59,10936.26,Porto Alegre,13.0,784947.02,GR-011,21962.89,21763.93
1,LJ-002,761803.59,39115.56,São Paulo,13.0,725106.95,GR-013,10103.51,89794.38
2,LJ-003,592295.30,65864.29,Rio de Janeiro,14.0,526165.31,GR-001,8175.83,50480.62
3,LJ-004,488960.33,55687.26,São Paulo,30.0,562210.79,GR-006,16689.83,27516.03
4,LJ-005,145914.45,52427.67,Curitiba,45.0,64986.75,GR-009,20196.15,43098.34

c) Crie uma coluna "lucro", que consiste do faturamento menos as baixas no estoque, o custo de manutenção e o custo de funcionários.

In [12]:
df["lucro"] = df["faturamento"] - df["baixa_estoque"] - df["custo_manut"] - df["custo_funcionarios"]

In [13]:
df.head()

,cod_loja,faturamento,baixa_estoque,cidade,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios,lucro
0,LJ-001,315268.59,10936.26,Porto Alegre,13.0,784947.02,GR-011,21962.89,21763.93,260605.51
1,LJ-002,761803.59,39115.56,São Paulo,13.0,725106.95,GR-013,10103.51,89794.38,622790.14
2,LJ-003,592295.30,65864.29,Rio de Janeiro,14.0,526165.31,GR-001,8175.83,50480.62,467774.56
3,LJ-004,488960.33,55687.26,São Paulo,30.0,562210.79,GR-006,16689.83,27516.03,389067.21
4,LJ-005,145914.45,52427.67,Curitiba,45.0,64986.75,GR-009,20196.15,43098.34,30192.29

d) Mostre o lucro médio, dando a esse valor o nome "lucro_medio".

In [14]:
lucro_medio = df["lucro"].mean()
print(lucro_medio)

299784.13011857716

Questão 3

Você deseja analisar a performance das lojas. Para isso, vamos aplicar filtros nos parâmetros de interesse.

a) Mostre as lojas que tiveram lucro abaixo da média usando a variável lucro_medio (Mostre em forma de lista).

In [15]:
#Filtro dos valores
df2 = df[df['lucro'] < lucro_medio]

#Transformamos a coluna em lista
list(df2['cod_loja'])

['LJ-001',
 'LJ-005',
 'LJ-006',
 'LJ-007',
 'LJ-011',
 'LJ-014',
 'LJ-015',
 'LJ-016',
 'LJ-017',
 'LJ-019',
 'LJ-020',
 'LJ-022',
 'LJ-023',
 'LJ-024',
 'LJ-027',
 'LJ-028',
 'LJ-030',
 'LJ-032',
 'LJ-033',
 'LJ-037',
 'LJ-038',
 'LJ-040',
 'LJ-041',
 'LJ-043',
 'LJ-045',
 'LJ-047',
 'LJ-048',
 'LJ-050',
 'LJ-057',
 'LJ-058',
 'LJ-059',
 'LJ-060',
 'LJ-061',
 'LJ-062',
 'LJ-064',
 'LJ-065',
 'LJ-067',
 'LJ-069',
 'LJ-072',
 'LJ-073',
 'LJ-078',
 'LJ-079',
 'LJ-080',
 'LJ-083',
 'LJ-084',
 'LJ-085',
 'LJ-086',
 'LJ-090',
 'LJ-091',
 'LJ-097',
 'LJ-098',
 'LJ-099',
 'LJ-100',
 'LJ-101',
 'LJ-103',
 'LJ-109',
 'LJ-110',
 'LJ-111',
 'LJ-112',
 'LJ-118',
 'LJ-120',
 'LJ-123',
 'LJ-124',
 'LJ-125',
 'LJ-126',
 'LJ-129',
 'LJ-131',
 'LJ-132',
 'LJ-133',
 'LJ-134',
 'LJ-136',
 'LJ-137',
 'LJ-139',
 'LJ-142',
 'LJ-144',
 'LJ-145',
 'LJ-146',
 'LJ-149',
 'LJ-150',
 'LJ-152',
 'LJ-153',
 'LJ-156',
 'LJ-159',
 'LJ-161',
 'LJ-165',
 'LJ-167',
 'LJ-168',
 'LJ-169',
 'LJ-172',
 'LJ-174',
 'LJ-176',
 'LJ-178',
 'LJ-180',
 'LJ-181',
 'LJ-185',
 'LJ-189',
 'LJ-190',
 'LJ-191',
 'LJ-195',
 'LJ-196',
 'LJ-202',
 'LJ-203',
 'LJ-206',
 'LJ-207',
 'LJ-209',
 'LJ-210',
 'LJ-214',
 'LJ-216',
 'LJ-223',
 'LJ-224',
 'LJ-225',
 'LJ-226',
 'LJ-235',
 'LJ-237',
 'LJ-238',
 'LJ-240',
 'LJ-244',
 'LJ-245',
 'LJ-247',
 'LJ-251',
 'LJ-252',
 'LJ-254',
 'LJ-255',
 'LJ-256',
 'LJ-260']

b) Verifique as lojas que tiveram lucro abaixo da média e faturamento menor que 200 mil reais

In [16]:
#Mostrar as linhas que cumprem as duas condições 
df[(df['lucro'] < lucro_medio) & (df['faturamento'] < 200000)]

,cod_loja,faturamento,baixa_estoque,cidade,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios,lucro
4,LJ-005,145914.45,52427.67,Curitiba,45.0,64986.75,GR-009,20196.15,43098.34,30192.29
5,LJ-006,145895.75,52835.06,Salvador,39.0,544186.04,GR-008,19057.13,47271.68,26731.88
6,LJ-007,70014.80,27282.09,São Paulo,29.0,59228.21,GR-011,19945.34,84478.41,-61691.04
10,LJ-011,40952.98,65096.89,Belo Horizonte,6.0,391737.84,GR-012,13612.23,47453.86,-85210.00
13,LJ-014,189562.81,37862.96,Salvador,31.0,591543.35,GR-016,9161.54,33383.19,109155.12
...,...,...,...,...,...,...,...,...,...,...
237,LJ-238,43844.87,73972.70,Rio de Janeiro,7.0,38842.97,GR-017,16255.03,84852.73,-131235.59
239,LJ-240,162260.78,40439.18,Porto Alegre,48.0,252980.18,GR-008,1533.74,56627.09,63660.77
244,LJ-245,36978.88,68364.08,Curitiba,16.0,25954.67,GR-019,1444.51,88545.72,-121375.43
254,LJ-255,156356.88,28546.52,Brasília,12.0,360766.23,GR-001,12735.55,49316.56,65758.25
259,LJ-260,100311.78,28876.37,Curitiba,41.0,331547.44,GR-013,15597.40,22181.87,33656.14

c) Mostre as lojas das cidades de Curitiba e Brasília.

In [20]:
#Mostrar as linhas onde cidade é diferente de Curitiba ou Brasília
df[(df['cidade'] == "Curitiba") | (df['cidade'] == "Brasília")]

,cod_loja,faturamento,baixa_estoque,cidade,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios,lucro
4,LJ-005,145914.45,52427.67,Curitiba,45.0,64986.75,GR-009,20196.15,43098.34,30192.29
9,LJ-010,573756.25,60853.45,Brasília,42.0,455750.10,GR-017,3005.23,10992.81,498904.76
15,LJ-016,167138.50,48922.31,Brasília,31.0,114343.57,GR-001,17386.68,22339.87,78489.64
16,LJ-017,260787.74,52796.53,Curitiba,21.0,351866.06,GR-010,9713.95,58177.91,140099.35
24,LJ-025,378454.24,35187.05,Curitiba,37.0,307640.37,GR-013,15487.26,19876.26,307903.67
...,...,...,...,...,...,...,...,...,...,...
255,LJ-256,456520.98,60886.22,Brasília,35.0,787872.34,GR-009,24917.42,75655.74,295061.60
258,LJ-259,466797.41,44762.74,Brasília,27.0,552353.89,GR-009,7656.34,64920.26,349458.07
259,LJ-260,100311.78,28876.37,Curitiba,41.0,331547.44,GR-013,15597.40,22181.87,33656.14
260,LJ-261,501630.60,72758.62,Brasília,20.0,780392.39,GR-009,13176.04,77623.76,338072.18
261,LJ-262,792291.73,63237.86,Brasília,10.0,584462.91,GR-011,10652.08,69125.96,649275.83

d) Mostre as linhas das lojas com código entre LJ-250 e LJ-260 (inclusive).

In [21]:
#Criamos uma lista com os códigos
lista = [f"LJ-{numero}" for numero in range(250,261)] 

#OU
#lista = []
#for numero in intervalo:
#    lista.append(f"LJ-{numero}")

#Filtramos para mostrar apenas os códigos que estão incluídos na lista
df[df['cod_loja'].isin(lista)]

,cod_loja,faturamento,baixa_estoque,cidade,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios,lucro
249,LJ-250,686082.33,31659.11,São Paulo,14.0,199793.61,GR-009,3034.62,53467.20,597921.40
250,LJ-251,253197.89,69988.27,São Paulo,16.0,149639.74,GR-002,7581.88,22013.20,153614.54
251,LJ-252,323450.74,65021.76,Porto Alegre,20.0,529927.59,GR-018,2526.15,17254.14,238648.69
252,LJ-253,684630.92,3868.79,Brasília,28.0,277592.23,GR-006,17304.03,75514.54,587943.56
253,LJ-254,270614.55,2464.34,Porto Alegre,23.0,482454.55,GR-009,1557.29,54681.50,211911.42
254,LJ-255,156356.88,28546.52,Brasília,12.0,360766.23,GR-001,12735.55,49316.56,65758.25
255,LJ-256,456520.98,60886.22,Brasília,35.0,787872.34,GR-009,24917.42,75655.74,295061.60
256,LJ-257,750519.95,74052.07,Salvador,25.0,140925.00,GR-016,20349.26,78896.16,577222.46
257,LJ-258,564423.09,11706.06,Belo Horizonte,21.0,385063.91,GR-013,15380.49,24301.74,513034.80
258,LJ-259,466797.41,44762.74,Brasília,27.0,552353.89,GR-009,7656.34,64920.26,349458.07
259,LJ-260,100311.78,28876.37,Curitiba,41.0,331547.44,GR-013,15597.40,22181.87,33656.14

DESAFIO 🚀

Agora, crie uma nova coluna "flag_satisfacao" onde o valor é "Satisfatório" quando as seguintes condições são cumpridas:

• Faturamento maior que a média

• Baixa no estoque menor 15000

• Número de funcionários entre 15 e 40

• Não fechou com prejuízo

E "Insatisfatório" caso essas condições não sejam cumpridas. Por fim, filtre pelas lojas com performance satisfatória.

In [24]:
#Definindo lista com intervalo
import numpy as np

#Lista com range de funcionários ideal.
num_fun = [i for i in range(15,41)]

#Filtro com numpy
df['flag_satisfacao'] = np.where(
    (df['faturamento'] > df['faturamento'].mean()) & (df['funcionarios'].isin(num_fun)) & (df['baixa_estoque'] < 15000) & (df['lucro'] > 0),
    'Satisfatório',
    'Insatisfatório')

#Vendo quais lojas possuem boa performance.
df[df['flag_satisfacao'] == "Satisfatório"]

,cod_loja,faturamento,baixa_estoque,cidade,funcionarios,estoque,cod_ger_reg,custo_manut,custo_funcionarios,lucro,flag_satisfacao
28,LJ-029,484121.29,2772.27,São Paulo,30.0,435955.48,GR-007,12977.04,18827.43,449544.55,Satisfatório
50,LJ-051,776428.09,2388.63,Belo Horizonte,33.0,54137.50,GR-008,8790.57,69341.85,695907.04,Satisfatório
55,LJ-056,739452.53,13410.43,Brasília,22.0,96066.98,GR-007,7682.25,56656.72,661703.13,Satisfatório
73,LJ-074,656982.61,3534.30,Rio de Janeiro,37.0,225711.55,GR-014,12088.64,26667.60,614692.07,Satisfatório
91,LJ-092,577764.71,12638.61,Salvador,39.0,665309.41,GR-007,6870.15,57727.19,500528.76,Satisfatório
92,LJ-093,614608.41,5757.37,Rio de Janeiro,36.0,645596.51,GR-012,20565.36,13775.61,574510.07,Satisfatório
94,LJ-095,622499.56,2475.09,São Paulo,18.0,192651.12,GR-020,16688.75,81884.28,521451.44,Satisfatório
107,LJ-108,610552.13,5667.42,Porto Alegre,37.0,718564.12,GR-015,13667.44,48886.92,542330.35,Satisfatório
112,LJ-113,745515.68,5803.55,Curitiba,40.0,394424.54,GR-010,24694.64,20935.12,694082.37,Satisfatório
118,LJ-119,716733.22,9303.28,Salvador,24.0,594789.81,GR-018,17310.90,87523.30,602595.74,Satisfatório
172,LJ-173,421872.12,6765.96,Porto Alegre,29.0,359986.61,GR-005,2228.11,96226.61,316651.44,Satisfatório
174,LJ-175,525008.91,5920.84,Salvador,16.0,328917.19,GR-005,3192.84,39423.85,476471.38,Satisfatório
178,LJ-179,750965.74,6820.41,Brasília,25.0,159658.94,GR-017,904.01,99670.09,643571.23,Satisfatório
192,LJ-193,722823.99,8784.21,Salvador,25.0,485656.79,GR-003,24803.95,62938.20,626297.63,Satisfatório
197,LJ-198,720260.45,9351.93,Porto Alegre,40.0,659558.87,GR-017,20436.24,60533.61,629938.67,Satisfatório
198,LJ-199,712491.98,9255.71,Rio de Janeiro,30.0,220694.28,GR-019,9515.58,60459.41,633261.28,Satisfatório
210,LJ-211,450268.69,3715.41,São Paulo,26.0,203291.60,GR-018,16024.30,80975.35,349553.63,Satisfatório
214,LJ-215,576938.90,5997.84,Rio de Janeiro,24.0,49259.29,GR-013,23068.93,39537.35,508334.78,Satisfatório
252,LJ-253,684630.92,3868.79,Brasília,28.0,277592.23,GR-006,17304.03,75514.54,587943.56,Satisfatório
257,LJ-258,564423.09,11706.06,Belo Horizonte,21.0,385063.91,GR-013,15380.49,24301.74,513034.80,Satisfatório